/**
 * The colors used on the site.
 */
/**
 * Extended stuff on the colors.
 */
/**
 * Variables for the outlining of the elements.
 */
/**
 * The font of the website.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/**
 * The main classes for the application.
 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:active {
  text-decoration: none;
}

.app {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px auto;
      grid-template-rows: 75px auto;
      grid-template-areas: "header" "main";
  min-height: 100vh;
  max-width: 100%;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  max-height: 75px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 33px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo {
  height: 100%;
  margin-right: 5px;
}

.header__title {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title--primary {
  line-height: 14px;
  font-size: 16px;
}

.header__title--secondary {
  line-height: 14px;
  font-size: 14px;
}

main {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #ffffff;
}

.main--background {
  background: url("/assets/images/bg-landing-temporary.jpg");
  background-size: cover;
  background-position: center;
}

/**
 * The heading of a page.
 */
.heading {
  padding: 0 180px 54px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.heading__landing {
  padding-top: 274px;
}

.heading__title {
  font-size: 40px;
  font-weight: bold;
}

.heading__subtitle {
  font-size: 18px;
  font-weight: normal;
  width: 655px;
}

/**
 * The block element, which is a full width banner kind.
 */
.block {
  background-color: #edf1f3;
  padding: 42px 180px 66px;
  color: #333333;
}

.block__header {
  margin-bottom: 44px;
}

.block__title {
  font-size: 24px;
  font-weight: bold;
}

.block__subtitle {
  font-size: 18px;
  font-weight: normal;
}

.block__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

/**
 * A card element.
 */
.card {
  background-color: #ffffff;
  border-radius: 4px;
}

.card--shadow {
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}

.card--outlined {
  border: solid 1px #008bc1;
}

.card--showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  color: #008bc1;
}

.card__icon {
  width: 64px;
  margin-bottom: 10px;
}

.card__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle {
  font-size: 14px;
  font-weight: normal;
}

.card__subtitle--small {
  font-size: 12px;
}
/*# sourceMappingURL=app.css.map */