/**
 * The colors used on the site.
 */
/**
 * Extended stuff on the colors.
 */
/**
 * Variables for the outlining of the elements.
 */
/**
 * The font of the website.
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");
/**
 * The main classes for the application.
 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-padding-top: 102px;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1180px) {
  .hide-on-small {
    display: none;
  }
}

.app {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px auto;
      grid-template-rows: 70px auto;
      grid-template-areas: "header" "main";
  min-height: 100vh;
  max-width: 100%;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  max-height: 70px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 38px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 100%;
}

.header__title {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title--primary {
  line-height: 14px;
  font-size: 16px;
}

.header__title--secondary {
  line-height: 14px;
  font-size: 14px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--icon {
  height: 11px;
  margin-right: 2px;
}

main {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #ffffff;
}

.main--background {
  background: url("../assets/images/bg-landing-temporary.jpg");
  background-size: cover;
  background-position: center;
}

/**
 * The heading of a page.
 */
.heading {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  padding: 120px 40px 54px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.heading__landing {
  padding-top: 14%;
}

.heading__title {
  font-size: 40px;
  font-weight: bold;
}

.heading__title--big {
  font-size: 50px;
  line-height: 68px;
  margin-bottom: 8px;
}

.heading__subtitle {
  font-size: 18px;
  font-weight: normal;
  width: 655px;
}

.heading__subtitle--wider {
  width: 740px;
}

.heading__subtitle > .accent {
  font-weight: bold;
  font-style: italic;
}

.heading__overline {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner {
  background-position: center;
  background-size: cover;
}

/**
 * The block element, which is a full width banner kind.
 */
.block {
  background-color: #edf1f3;
  padding: 42px 40px 66px;
  color: #333333;
}

.block--larger {
  padding: 58px 40px 106px;
}

.block--white {
  background-color: #ffffff;
}

.block--inner {
  max-width: 1180px;
  margin: 0 auto;
}

.block__header {
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.block__header--with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 26px;
}

.block__header--link {
  color: #ff8686;
}

.block__header--link:visited {
  color: #ff8686;
}

.block__header-icon {
  height: 40px;
  margin-right: 16px;
}

.block__title {
  font-size: 24px;
  font-weight: bold;
}

.block__title--space {
  height: 52px;
}

.block__subtitle {
  font-size: 18px;
  font-weight: normal;
}

.block__paragraph {
  font-size: 14px;
  font-weight: 300;
  width: 755px;
}

.block__cards {
  max-width: 1180px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.block__information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 275px;
      grid-template-columns: auto 275px;
  gap: 40px;
}

.block__information-section {
  color: #333333;
}

.block__content {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 40px;
}

.block__image {
  background-color: #edf1f3;
  max-width: 1180px;
  height: 517px;
  margin-bottom: 15px;
}

.block__links {
  font-size: 14px;
}

.block__links > a {
  color: #008bc1;
}

/**
 * A card element.
 */
.cards {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 36px 40px 44px;
}

.card--shadow {
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #eaeced;
}

.card--shadow-border {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card--outlined {
  border: solid 1px #008bc1;
}

.card--filled {
  background-color: #d1e3eb;
}

.card--no-padding {
  padding: 0;
}

.card--showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  color: #008bc1;
  padding: initial;
}

.card--showcase:hover, .card--showcase:active, .card--showcase:visited {
  color: #008bc1;
}

.card--showcase:hover {
  border: solid 1px #008bc1;
}

.card--bottom-space {
  margin-bottom: 58px;
}

.card--single-line {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card--medium {
  padding: 33px 40px;
}

.card--menu {
  position: -webkit-sticky;
  position: sticky;
  top: 128px;
  padding: 24px 32px;
}

.card--expand {
  display: none;
}

.card--expanded .card--expand {
  display: initial;
}

.card--collaps {
  display: initial;
}

.card--expanded .card--collaps {
  display: none;
}

.card:not(.card--expanded) .card--shorter {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__icon {
  width: 64px;
  margin-bottom: 10px;
}

.card__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__title--icon {
  height: 11px;
  margin-left: 2px;
}

.card__subtitle {
  font-size: 14px;
  font-weight: normal;
}

.card__subtitle--small {
  font-size: 12px;
}

.card__main {
  font-size: 15px;
  font-weight: 600;
  margin-top: 24px;
}

.card__main:first-child {
  margin-top: initial;
}

.card__text {
  font-size: 15px;
  font-weight: normal;
}

.card__text--light {
  font-weight: 300;
}

.card__text--link {
  margin-top: 16px;
}

.card__text--link > a {
  color: #008bc1;
}

.card__list {
  padding-left: 18px;
}

.card__list--space {
  margin-top: 12px;
}

.card__list > li:not(:first-child) {
  margin-top: 12px;
}

.card__action {
  color: #008bc1;
  font-size: 14px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card__action:visited {
  color: #008bc1;
}

.card__action-text {
  font-size: 16px;
}

.card__action--right > .card__action--icon {
  margin-left: 10px;
}

.card__action--left > .card__action--icon {
  margin-right: 12px;
}

.card__action--left > .card__action--medium {
  margin-right: 16px;
}

.card__action--icon {
  width: 18px;
}

.card__action--medium {
  width: 32px;
}

.card__action--menu {
  margin-bottom: 16px;
}

.card__expandable {
  display: none;
  padding: 25px;
  padding-top: 0;
}

.card--expanded .card__expandable {
  display: block;
}

.card__menu-title {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card:not(.card--single-line) > .card__action {
  margin-top: 8px;
}

/**
 * Toggle switch.
 */
.switch-field {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 25px;
  overflow: hidden;
  border: 1px solid #008bc1;
  width: 430px;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.switch-field__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #edf1f3;
}

.switch-field input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #edf1f3;
  color: #008bc1;
  font-size: 16px;
  text-align: center;
}

.switch-field label:hover,
.switch-field input {
  cursor: pointer;
}

.switch-field input:checked,
.switch-field input:checked + label {
  background-color: #008bc1;
  color: #ffffff;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.switch-field input:checked + label,
.switch-field input:not(:checked) + label {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

.switch-field input:checked + label:before,
.switch-field input:not(:checked) + label:before {
  content: '';
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffffff;
}

.switch-field input:checked + label:after,
.switch-field input:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #008bc1;
  position: absolute;
  top: 19px;
  left: 19px;
  border-radius: 100%;
}

.switch-field input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.switch-field input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/**
 * Dropdown menu.
 */
.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 40px;
  border-radius: 4px;
  border: 1px #ff8686 solid;
  margin-left: 18px;
  cursor: pointer;
}

.dropdown__text {
  color: #ff8686;
  font-size: 14px;
}

.dropdown__icon {
  height: 11px;
}

.dropdown__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown__options {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 163px;
  gap: 4px;
  top: 64px;
  background-color: #ffffff;
  padding: 14px 6px;
  border-radius: 4px;
  border: 1px #ff8686 solid;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  visibility: hidden;
  z-index: 10;
}

.dropdown__options a {
  color: #ff8686;
  padding: 8px 6px 8px 6px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown__options a:hover {
  background-color: #ff86862a;
}

.dropdown--active .dropdown__options {
  visibility: visible;
}
/*# sourceMappingURL=app.css.map */