/**
 * The colors used on the site.
 */
$primary: #008bc1;
$secondary: #333333;
$white: #ffffff;
$grey: #edf1f3;
$action: #ff8686;
$light-primary: #d1e3eb;

/**
 * Extended stuff on the colors.
 */
$overlay: rgba(0, 0, 0, 0.4);
$box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);

/**
 * Variables for the outlining of the elements.
 */
$header: 70px;
$header-link: 102px;
$header-padding: 17px 33px;
$padding: 16px;
$border-radius: 4px;
$width: 1180px;

/**
 * The font of the website.
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');

/**
 * The main classes for the application.
 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-padding-top: $header-link;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: $secondary;
}

@media (max-width: $width) {
  .hide-on-small {
    display: none;
  }
}

.app {
  position: relative;
  display: grid;
  grid-template-rows: $header auto;
  grid-template-areas:
    "header"
    "main";
  min-height: 100vh;
  max-width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: $box-shadow;
  grid-area: header;
  max-height: $header;
  background-color: $white;
  display: flex;
  padding: $header-padding;
  justify-content: flex-start;
}

.header__logo {
  height: 100%;
  margin-right: 5px;
}

.header__title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  $line-height: 14px;

  &--primary {
    line-height: $line-height;
    font-size: 16px;
  }

  &--secondary {
    line-height: $line-height;
    font-size: 14px;
  }
}

main {
  position: relative;
  grid-area: main;
  background-color: $white;
}

.main--background {
  background: url('../assets/images/bg-landing-temporary.jpg');
  background-size: cover;
  background-position: center;
}

/**
 * The heading of a page.
 */
.heading {
  max-width: $width;
  margin: 0 auto;
  position: relative;
  padding: 120px $padding 54px;
  color: white;
  font-family: 'Open Sans', sans-serif;

  &__landing {
    padding-top: 274px;
  }

  &__title {
    font-size: 40px;
    font-weight: bold;

    &--big {
      font-size: 50px;
      line-height: 68px;
      margin-bottom: 8px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: normal;
    width: 655px;

    &--wider {
      width: 740px;
    }
  }

  &__subtitle>.accent {
    font-weight: bold;
    font-style: italic;
  }

  &__overline {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.banner {
  background-position: center;
  background-size: cover;
}

/**
 * The block element, which is a full width banner kind.
 */
.block {
  background-color: $grey;
  padding: 42px $padding 66px;
  color: $secondary;

  &--larger {
    padding: 58px $padding 106px;
  }

  &--white {
    background-color: $white;
  }

  &--inner {
    max-width: $width;
    margin: 0 auto;
  }

  &__header {
    max-width: $width;
    margin: 0 auto;
    margin-bottom: 44px;

    &--with-image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 26px;
    }

    &--link {
      color: $action;
    }
  }

  &__header-icon {
    height: 40px;
    margin-right: 16px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;

    &--space {
      height: 52px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: normal;
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 300;
    width: 755px;
  }

  &__cards {
    max-width: $width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }

  &__information {
    display: grid;
    grid-template-columns: auto 275px;
    gap: 40px;

    &-section {
      color: $secondary;
    }
  }

  &__content {
    max-width: $width;
    margin: 0 auto;
    margin-top: 40px;
  }
}

/**
 * A card element.
 */
.cards {
  display: grid;
  gap: 20px;
}

.card {
  background-color: $white;
  border-radius: $border-radius;
  padding: 36px 40px 44px;

  &--shadow {
    box-shadow: $box-shadow;
    border: solid 1px #eaeced;

    &-border {
      box-shadow: none;
    }
  }

  &--outlined {
    border: solid 1px $primary;
  }

  &--filled {
    background-color: $light-primary;
  }

  &--showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: $primary;
    padding: initial;

    &:visited {
      color: $primary;
    }
  }

  &--showcase:hover {
    border: solid 1px $primary;
  }

  &--bottom-space {
    margin-bottom: 58px;
  }

  &--single-line {
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }

  &--medium {
    padding: 33px 40px;
  }

  &--menu {
    position: sticky;
    top: 128px;
    padding: 24px 32px;
  }

  &__icon {
    width: 64px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: normal;

    &--small {
      font-size: 12px;
    }
  }

  &__main {
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;

    &:first-child {
      margin-top: initial;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: normal;

    &--light {
      font-weight: 300;
    }
  }

  &__list {
    padding-left: 18px;

    &--space {
      margin-top: 12px;
    }
  }

  &__list>li:not(:first-child) {
    margin-top: 12px;
  }

  &__action {
    color: $primary;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:visited {
      color: $primary;
    }

    &-text {
      font-size: 16px;
    }

    &--right>&--icon {
      margin-left: 10px;
    }

    &--left>&--icon {
      margin-right: 12px;
    }

    &--left>&--medium {
      margin-right: 16px;
    }

    &--icon {
      width: 18px;
    }

    &--medium {
      width: 32px;
    }

    &--menu {
      margin-bottom: 16px;
    }
  }

  &__menu-title {
    color: $secondary;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &:not(&--single-line)>&__action {
    margin-top: 8px;
  }
}

/**
 * Toggle switch.
 */
.switch-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 36px;
  overflow: hidden;
  border: 1px solid $primary;
  width: fit-content;
  border-radius: $border-radius;

  &__option {
    display: flex;
    width: 50%;
  }
}

.switch-field input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: $grey;
  color: $primary;
  font-size: 16px;
  text-align: center;
  padding: 14px 39px 14px 54px;
  width: fit-content;
  transition: all 0.1s ease-in-out;
}

.switch-field input:checked+label {
  padding: 14px 30px 14px 54px;
  width: fit-content;
}

.switch-field label:hover,
.switch-field input {
  cursor: pointer;
}

.switch-field input:checked,
.switch-field input:checked+label {
  background-color: $primary;
  color: $white;
  font-weight: bold;
  box-shadow: none;
}

.switch-field input:checked+label,
.switch-field input:not(:checked)+label {
  position: relative;
}

.switch-field input:checked+label:before,
.switch-field input:not(:checked)+label:before {
  content: '';
  left: 16px;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: $white;
}

.switch-field input:checked+label:after,
.switch-field input:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $primary;
  position: absolute;
  top: 19px;
  left: 21px;
  border-radius: 100%;
}

.switch-field input:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

.switch-field input:checked+label:after {
  opacity: 1;
  transform: scale(1);
}
